@{
    ViewBag.Title = "Hello | Hi";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Gunn Dada</title>
    <link href="css/Site.css" rel="stylesheet" />

</head>
<body>
    <h2> Startup @ViewBag.Title</h2>
    <div>

        <img style="width:400px" src="/Img/MrLion.jpg" />

    </div>
    <header>
    </header>

    <section>
        @RenderBody()
    </section>

    <p> Build <strong>is</strong> Here</p>

    <menu>
        <ul>
            <li><a href="/App/Index"></a>Home</li>
            <li><a asp-controller="App" asp-action="Contact"></a>Contact</li>
        </ul>
    </menu>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>

</body>
</html>